<%+header%>

<h1>[Desc] luci-sample-app01</h1>

<p>
    This is the description page for luci-sample-app01.<br>
    luci-sample-app01 combines the wi-fi, router and access point configuration interfaces introduced in <a href="https://utakamo.com/article/openwrt/beginner/intro03.html">my blog article</a> into a single page.
</p>

<p>
    <strong>[Implementation difficulty Lv.1]</strong><br>
    This section allows you to modify the parameters in the OpenWrt network and wireless configuration files (/etc/config/network and /etc/config/wireless).
    In other words, it is a LuCI plugin that only manipulates the configuration files managed by the standard OpenWrt application.
</p>

<h2>What this app can do</h2>

<ul>
    <li>Wi-Fi Settings</li>
    <li>Router Settings</li>
    <li>AP Settings</li>
</ul>

<h2>Page Link</h2>

<ul>
    <li>[Desc] luci-sample-app01&nbsp;&nbsp;/cgi-bin/luci/my/luci-sample-app01/desc (this page)</li>
    <li>Wi-Fi Setting (kamo custom)&nbsp;&nbsp;<a href="../../../../cgi-bin/luci/admin/network/custom-page/wireless">&lt;device ip address&gt;/cgi-bin/luci/admin/network/custom-page/wireless"</a></li>
    <li>Network Setting (kamo custom)&nbsp;&nbsp;<a href="../../../../cgi-bin/luci/admin/network/custom-page/network">&lt;device ip address&gt;/cgi-bin/luci/admin/network/custom-page/network"</a></li>
</ul>

<h2>Reference</h2>
<p>
    The following references provide an implementation; developers familiar with OpenWrt should look here.
</p>
<ul>
    <li>luci Wiki:&nbsp;&nbsp;<a href="https://github.com/openwrt/luci/wiki">https://github.com/openwrt/luci/wiki</a></li>
</ul>

<%+footer%>
